<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="curl-7.63.0-winsoft666" version="1.0.0.4" targetFramework="native" />
  <package id="curl-vc141-dynamic-x86_64" version="7.59.0" targetFramework="native" />
  <package id="openssl-1.1.1-winsoft666" version="1.0.0.4" targetFramework="native" />
  <package id="openssl-vc141-static-x86_64" version="1.1.0" targetFramework="native" />
  <package id="zlib-1.2.11-winsoft666" version="1.0.0.3" targetFramework="native" />
</packages>